<div class="display">
<app-card>
  <app-ngcontentinfo>
  <section class="teste">
    <div>funciona 1</div>
    <p>Preencher o card 1 aqui</p>
  </section>
</app-ngcontentinfo>
</app-card>
<app-card>
  <app-ngcontentcheck>
  <section class="teste1">
    <div>funciona 2</div>
    <p>Preencher o card 2 aqui</p>
  </section>
</app-ngcontentcheck>
</app-card>
<app-card>
  <app-ngcontentplans>
  <section class="teste2">
    <div>funciona 3</div>
    <p>Preencher o card 3 aqui</p>
  </section>
</app-ngcontentplans>
</app-card>
</div>
